.App {
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#drum-machine {
  width: 50%;
  display: flex;
}

.drum-pad {
  display: block;
  cursor: pointer;
  padding: 1em;
  width: 2em;
  border: 1px solid black;
}

.drum-pad:hover {
  background: #333;
  color: #fff;
}

.active {
  background: #333;
  color: #fff;
}
